@font-face {
    font-family: "Digital";
    src:
        local("Digital"),
        local("Digital"),
        url("/fonts/digital.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
